<form id="form" *ngIf="todo">
  <h2>Selected Todo</h2>
  <mat-form-field>
    <input type="text"
           matInput
           placeholder="Enter todo"
           name="name"
           [(ngModel)]="todo.name"
    >
  </mat-form-field>

  <mat-form-field>
    <input matInput
           [matDatepicker]="picker"
           placeholder="Choose a date"
           name="date"
           [(ngModel)]="todo.date"
    >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-flat-button color="primary" (click)="onClickUpdate(todo)">Update Todo</button>
</form>
