
#todo {
  border: lightgrey solid 0.5px;
  border-radius: 2px;
  margin-bottom: 1em;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selected {
  background-color: #ffd740;
  transform: scale(1.01);
}

