<h1>{{appName}}</h1>

<app-todo-detail *ngIf="selectedTodo" [todo]="selectedTodo"></app-todo-detail>

<div id="list">
  <h2>Todo List</h2>
  <div id="todo" *ngFor="let todo of todos"
       [ngClass]="todo === selectedTodo ? 'selected' : ''"
  >
    <div class="content"><p style="margin-bottom: 0;" (click)="onSelect(todo)">{{todo.id}} {{todo.name}}</p>
      <p style="margin-top: 0; font-size: 10px"><small>{{todo.date | date}}</small></p></div>
    <div class="btn">
      <button mat-stroked-button color="warn" (click)="onClickDeleted(todo.id)">Delete</button>
    </div>
  </div>
</div>












